<nav class="nav_bar">
    <ul>
      <li class="<%= nav  == 'index' ? 'current':'' %>">
            <a href="/flight">航司分析</a>
      </li>
      <li class="<%= nav  == 'kpi' ? 'current':'' %>">
            <a href="/kpi">KPI</a> 
      </li>

    </ul>
</nav>