<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>航线分析</title>
    <link rel="stylesheet" href="./../css/all.css">
</head>

<body id="AirlinePage">
    <div class="max_box">
        <h2 class="page_title">航线分析 - <%= time %></h2>
        

        <a class="back_btn" href="javascript:window.history.go(-1);">返回</a>

        
        <form class="layui-form layui-row layui-col-space10 t_form" id="index_form">

            <div class="form_group">
               <label>供应商ID:</label>  
               <div class="label_content">
                  <input type="text"  id="supplier_id" value="" class="input" tabindex="1">
                  <button class="button ml20">搜索</button>
               </div>
            </div>


            <div class="form_group">
               <label>航班：</label>  
               <div class="label_content">
                  
                  <input list="flight" class="input" autocomplete="off" id="title"  tabindex="2" >
                  <datalist id="flight">
                    <option value="4O">
                    <option value="9W">
                    <option value="AI">
                    <option value="BA">
                    <option value="BE">
                    <option value="DY">
                    <option value="IB">
                    <option value="LJ">
                    <option value="PG">
                    <option value="SL">
                    <option value="TG">
                    <option value="TU">
                    <option value="TW">
                    <option value="UA">
                    <option value="VX">
                    <option value="WE">
                  </datalist>
                  
               </div>
            </div>

            <input type="submit" class="hide" value="提交"> 

            
        </form>




        <div class="table_title_box">
            <table>
                <tr>
                  <th width="90px">编号</th>
                  <th width="120px">供应商ID</th>
                  <th >航线</th>
                  <th width="120px">航班</th>
                  <th width="120px">价格</th>
                  <th width="100px">查询量</th>
                  <th width="100px">成交量</th>
                  <th width="120px">转化率</th>
                  <th width="120px">利润（元）</th>
                  <th width="120px">利润率</th>
                  <th width="150px">操作</th>
                </tr>
            </table>
        </div>



        <div class="table_box">
            <table id="index_table">
                  <tr><td colspan="11" class="center">努力加载中...</td></tr>
            </table>
            
        </div>

        <div class="table_page_box">
                <div id="layui-table-page1">
                    <form>

                        <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1">
                          
                          <span class="layui-laypage-skip">当前第<em id="cur_page"></em> / <em id="total_page"></em> 页</span>

                          <a href="javascript:;" id="prev"><i title="上一页" class="layui-icon"></i></a>
                          <a href="javascript:;" id="next"><i title="下一页" class="layui-icon"></i></a>
                          
                          <span class="layui-laypage-skip">跳到第
                            <input type="number" min="1" value="1" class="layui-input" id="yourPage">页
                            <input type="submit" value="提交" id="goPage">
                          </span>
                          <span class="layui-laypage-count">共 <em id="total_count"></em> 条</span>
                          <!-- <span class="layui-laypage-count">共 <em id="total_page"></em> 页</span> -->
                        </div>


                    </form>
                </div>
        </div>


    </div>

    <input type="hidden" id="time" value="<%= time %>">
    <script src="https://cdn.bootcss.com/require.js/2.3.4/require.min.js" data-main="/js/main.js"></script>
</body>

</html>