<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>某航线的历史加价分析</title>
    <link rel="stylesheet" href="./../../css/all.css">
</head>

<body id="HistoryPage">
    <div class="max_box">
        <h2 class="page_title">某航线的历史加价分析 - <%= history %></h2>
        
        <a class="back_btn" href="javascript:window.history.go(-1);">返回</a>

        <div class="table_title_box">
            <table>
                <tr>
                  <th width="90px">编号</th>
                  <th width="130px">航线</th>
                  <th width="130px">时间</th>
                  <th width="130px">查询量</th>
                  <th width="130px">成交量</th>
                  <th width="130px">转化率</th>
                  <th width="130px">利润（元）</th>
                  <th width="130px">利润率</th>
                  <th>MARK_UP</th>
                </tr>
            </table>
        </div>


        <div class="table_box">
            <table id="index_table">
                <tr><td colspan="9" class="center">努力加载中...</td></tr>
            </table>
            
        </div>


        <div class="table_page_box">
                <div id="layui-table-page1">
                    <form>

                        <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1">
                          
                          <span class="layui-laypage-skip">当前第<em id="cur_page"></em> / <em id="total_page"></em> 页</span>

                          <a href="javascript:;" id="prev"><i title="上一页" class="layui-icon"></i></a>
                          <a href="javascript:;" id="next"><i title="下一页" class="layui-icon"></i></a>
                          
                          <span class="layui-laypage-skip">跳到第
                            <input type="number" min="1" value="1" class="layui-input" id="yourPage">页
                            <input type="submit" value="提交" id="goPage">
                          </span>
                          <span class="layui-laypage-count">共 <em id="total_count"></em> 条</span>
                          <!-- <span class="layui-laypage-count">共 <em id="total_page"></em> 页</span> -->
                        </div>



                    </form>
                </div>
        </div>

    </div>

    <input type="hidden" id="object_id" value="<%= history %>">
    <script src="https://cdn.bootcss.com/require.js/2.3.4/require.min.js" data-main="/js/main.js"></script>
</body>

</html>